<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}

    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    {% include 'footer.html' %}

    <script src="{% static 'js/script.js' %}"></script>

    {% if messages %}
    {% for message in messages %}
    <script>
    showNotification("{{ message|escapejs }}", "{{ message.tags }}");
    </script>
    {% endfor %}
    {% endif %}
    
</body>
</html>