{% extends "base.html" %}
{% load static %}
{% block title %}BlogSphere | Home{% endblock %}
{% block content %}
<div id="blog-detail" class="page">
    <div class="blog-detail">
        <div class="blog-header">
            <h1 class="blog-detail-title" id="blogDetailTitle">{{blog.title}}</h1>
            <div class="blog-detail-meta">
                <div class="blog-author">
                    <div class="author-avatar" id="blogDetailAuthorAvatar">{{blog.author.username|capfirst|slice:":1"}}</div>
                    <span id="blogDetailAuthor">{{blog.author}}</span>
                </div>
                <span id="blogDetailDate">{{blog.created_at}}</span>
                <span id="blogDetailReviews">{{blog.total_likes}} likes</span>
            </div>
        </div>
        {% if blog.thumbnail %}
        <img src="{{blog.thumbnail.url}}" alt="" style="width: 100%;" draggable="false" oncontextmenu="return false;" onmousedown="return event.button !== 0;">
        {% endif %}
        <div class="blog-detail-content" id="blogDetailContent">
            {{ blog.content|safe }}
        </div>
        <hr>
        {% if user.is_authenticated %}
        <div class="blog-detail-actions">
            {% if not liked %}
            <button class="btn btn-primary" id="likeButton"><i class="fa-regular fa-thumbs-up"></i></button>
            {% else %}
            <button class="btn btn-danger" id="dislikeButton"><i class="fa-solid fa-thumbs-up"></i></button>
            {% endif %}
            <button class="btn btn-secondary" id="commentButton"><i class="fa-solid fa-message"></i></button>
        </div>
        {% endif %}
</div>
{% endblock content %}