{% extends "base.html" %}
{% load static %}
{% block title %}BlogSphere | Home{% endblock %}
{% block content %}
<div id="create-blog" class="page">
    <div class="create-blog-container">
        <h1 class="create-blog-title">Create New Blog</h1>
        <form id="createBlogForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="blogTitle" class="form-label">Blog Title</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>
            
            <div class="form-group">
                <label for="blogContent" class="form-label">Blog Content</label>
                {{form.content}}
                {{ form.content.errors }}
            </div>
            <div class="form-group">
                <label for="imageInput" class="form-label">Thumbnail Image</label>
                <div class="image-upload">
                    <div class="upload-area" onclick="document.getElementById('imageInput').click()">
                        <p>Click to upload an image or drag and drop</p>
                        {{form.thumbnail}}
                    </div>
                    {{ form.thumbnail.errors }}
                    <div id="imagePreview" style="margin-top: 1rem;"></div>
                </div>
            </div>
            <div style="display: flex; gap: 1rem; justify-content: flex-end;">
                <button type="reset" class="btn btn-secondary">Reset</button>
                <button type="submit" class="btn btn-primary">Publish Blog</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/38.1.0/classic/ckeditor.js"></script>

<script src="{% static 'django_ckeditor_5/ckeditor.js' %}"></script>
{% endblock content %}